<mat-card>
  <form (submit)="onAdicionarLivro(livroForm)" #livroForm="ngForm">
  <mat-form-field>
    <input type="text" matInput placeholder="titulo"
    name="titulo" ngModel/>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="autor"
    name="autor" ngModel />
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Numero de Paginas"
    name="numeroPg" ngModel />
  </mat-form-field>
  <button color="primary" mat-raised-button>
    Inserir Livro
  </button>
</form>

</mat-card>
